body {
  font-family: 'Raleway', sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #2b2d42;
}

#quote-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #edf2f4;
  height: 200px;
  width: 500px;
  border-radius: 10px;
  padding: 10px;
}

#text {
  display: flex;
  align-self: flex-start;
  font-size: 30px;
  color: #ef233c;
  margin-left: 40px;
  margin-bottom: 10px;
}

#author {
  display: flex;
  align-self: flex-start;
  font-size: 20px;
  color: #8d99ae;
  font-weight: 700;
  margin-left: 40px;
  margin-top: 0;
}

.actions {
  padding: 10px;
  margin-bottom: 15px;
  margin-left: 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: 500px;
}

.button {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #ef233c;
  color: #edf2f4;
}
#tweet-quote {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #ef233c;
  color: #edf2f4;
  text-decoration: none;
}
